[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pycodestyle = "*"
rstcheck = "*"
wheel = "*"
build = "*"
twine = "*"
mypy = "~=1.2.0"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
